<template>
	<mind-view>
		<template v-slot:toolbar-actions>
			<el-button type="primary" size="small" @click="$refs.formulario?.onSubmit()" >Aplicar Cambios</el-button>
			<el-button  size="small" v-if="!isNew" 
				@click="exportJson()"
				icon="el-icon-download"
				>JSON</el-button>
			<el-button  size="small" 
				@click="pickJsonFile"
				icon="el-icon-upload2"
				>JSON</el-button>
			<!-- <el-button  size="small" v-if="!isNew" 
				@click="exportYaml()"
				icon="el-icon-download">
				YAML</el-button> -->
			<input type="file" accept=".json" ref="jsonFile" @change="importJson" hidden >
		</template>
		<mind-form
			v-model="recurso"	v-model:modified="modified"
			@submit="onSubmit" v-loading="isLoading"
			ref="formulario" 
			>
			<template  v-if="!isLoading">
				<el-row	>
					<el-col :xs="24">
						<el-form-item label="Nombre" required>
							<el-input v-model="templateID" :disabled="!isNew" />
						</el-form-item>
					</el-col>
				</el-row>
          <template-form v-model="recurso" />
			</template>
		</mind-form>
	</mind-view>
</template>
<script>

// import {ref} from 'vue'

//Model
import templates from '@/model/templates'
import TemplateForm from '@/components/template-form'


export default {
	components:{
    TemplateForm
	},
	async created() {
		const path = this.$route.path
		console.log(path)

		this.isLoading = true;
		let id = this.$route.params.id;
		if (id == "new") {
			this.templateID = "";
			this.recurso = templates.new()
		} else {
			this.templateID = id;
			this.recurso = await templates.get(id)
		}
		this.isLoading = false;
	},
	methods: {
		pickJsonFile () { this.$refs.jsonFile.click() },
		async onSubmit() {
      const v = this.recurso
			delete(v.ultimaActualizacion)
			delete(v.estado)
			this.recurso = v
			const isNew = this.isNew
			if(isNew) {
				await templates.post(this.templateID, this.recurso)
				.then(()=>{
					this.$message({
						type: 'success',
						message: `template creado correctamente`,
					})
					//modifico la ruta
					const path = this.$route.path.replace(/\/new$/, `/${this.templateID}`)
					this.$router.replace(path)
				})
			} else {
				await templates.post(this.templateID, this.recurso)
				this.$message({
					type: 'success',
					message: "template actualizado correctamente",
				})
			}

		},
		exportJson() {
			const recurso = JSON.parse(JSON.stringify(this.recurso))
			delete recurso.fileBpmn
			const filename = `${this.templateID}.json`
			delete recurso._isNew
			const payload = JSON.stringify(recurso)
			const blob = new Blob([payload], {type: 'text/json'})
			const a    = document.createElement('a')

			a.download = filename
			a.href = window.URL.createObjectURL(blob)
			a.dataset.downloadurl =  ['text/json', a.download, a.href].join(':')
			a.click()
		},
		exportYaml() {
				console.log("export yaml")
		},
		importJson(evt) {
			const files= evt.target.files 
			const file = new FileReader () 
			// file.read 
			file.addEventListener('load', () => { 
				const contenido=file.result
				try {
					const obj = JSON.parse(contenido)
					const isNew = this.isNew
					this.recurso = {...obj}
					this.recurso._isNew = isNew
				} catch(e) {
					this.$notify({
						type: 'error',
						text: `no se pudo importar archivo`,
					})
				}


				}) 
			file.readAsText(files[0])
		}
	},
	computed: {
		isNew() {
			return this.recurso?._isNew
		}
	},
	watch:{
		fechaDesde:{
			immmediate: true,
			handler() {
				this.actualizarHistorial(this.recurso.id, this.fechaDesde)
			}
		},
		// fechaHasta:{
		// 	immmediate: true,
		// 	handler() {
		// 		this.actualizarHistorial(this.recurso.id, this.fechaDesde, this.fechaHasta)
		// 	}
		// },
	},
	data(){
		return {
			recurso:{},
			modified: false,
			isLoading: false,
			templateID: "",


		}
	}

}
</script>