<template>
	<mind-view>
		<template v-slot:toolbar-actions>
			<el-button 
				type="primary" 
				plain 
				icon="el-icon-new" 
				size="small" 
				@click="onNew()"
				>Nueva Plantilla
			</el-button>
		</template>
		<mind-table :data="RESOURCE_LIST" 
			row-key="name" 
			:actions="{edit:true, delete:true}"
			@edit="onEdit"   @delete="onDelete">
			<el-table-column sortable prop="name" label="Nombre"  />
		</mind-table>
		<template v-slot:child>
			<router-view :key="$route.fullPath"  ></router-view>
		</template>
	</mind-view>
</template>


<script>

//Model
import templates from '@/model/templates'

export default {
  name: 'TemplatesView',
  components: {
	},
	async created(){
		await templates.fetch()
		.then((response)=>{
			this.RESOURCE_LIST = response.value

		})

	},
	methods:{
		onNew() {
			this.$router.push(`${this.$route.path}/new`)
		},
		onEdit(row) {
			this.$router.push(`${this.$route.path}/${row.name}`)
		},
		onDelete(row) {
			this.$confirm(`¿Eliminar la Plantilla ${row.name}?`, 'Atención', {
				confirmButtonText: 'OK',
				cancelButtonText: 'Cancelar',
				type: 'warning'
			}).then(async () => {
				this.selectedRow = null
				templates.delete(row)
			}).catch(() => {
				this.$message({
					type: 'info',
					message: 'Eliminación Cancelada',
					duration: 1500,
				});
			});
		},
	},
	data() {
		return {
			RESOURCE_LIST: []
		}
	}
}
</script>

<style lang="css">
	
.el-table .warning-row {
	background-color: var(--el-color-warning-lighter) !important;
}
.el-table .error-row {
	background-color: var(--el-color-error-lighter) !important;
}
.el-table .success-row {
	--el-table-tr-background-color: var(--el-color-success-lighter) !important;
}
</style>