<template>
	<mind-view>
		<template v-slot:toolbar-actions>
			<el-button
				type="primary"
				plain
				icon="el-icon-new"
				size="small"
				@click="onNew()"
				>Crear Volumen
			</el-button>
		</template>
		<mind-table :data="listaVolumenes"
			row-key="id"
			:actions="{edit:false, delete:true}"
			@edit="onEdit"   @delete="onDelete">
			<el-table-column sortable prop="name"  width="200px" label="Nombre"  />
			<el-table-column sortable prop="description" label="Descripción"  />
			<el-table-column sortable prop="usedBy" width="200px" label="Utilizado por" >
				<template #default="props">
					<div v-for="u in props.row.usedBy" :key="u">
						{{u}}
					</div>
				</template>
			</el-table-column>
		</mind-table>
		<template v-slot:child>
			<router-view :key="$route.fullPath"  ></router-view>
		</template>
	</mind-view>
	<el-drawer
	:close-on-click-modal="true"  :show-close="true"
	v-model="drawerVisible" modal
	title="Nuevo Volumen" size="60%"
  >
		<el-form>
			<el-row	>
				<el-col :xs="24">
					<el-form-item label="Nombre" required>
						<el-input v-model="newVolume.name" />
					</el-form-item>
				</el-col>
			</el-row>
			<el-row	>
				<el-col :xs="24">
					<el-form-item label="Descripción" required>
						<el-input v-model="newVolume.description" />
					</el-form-item>
				</el-col>
			</el-row>
		</el-form>
		<el-button type="primary" @click="onSubmit" v-loading="isLoading"
			>Crear</el-button
		>
	</el-drawer>
</template>


<script>

//Model
import volumes from '@/model/volumes'

export default {
  name: 'TemplatesView',
  components: {
	},
	async created(){
		await volumes.fetch()
		.then((response)=>{
			this.RESOURCE_LIST = response.value

		})

	},
	methods:{
		onNew() {
			this.drawerVisible = true;
		},
		onEdit(row) {
			this.$router.push(`${this.$route.path}/${row.name}`)
		},
		onDelete(row) {
			this.$confirm(`¿Eliminar el Volumen ${row.name}?`, 'Atención', {
				confirmButtonText: 'OK',
				cancelButtonText: 'Cancelar',
				type: 'warning'
			}).then(async () => {
				this.selectedRow = null

				volumes.delete(row).then(()=>{
					const idx = this.RESOURCE_LIST.findIndex((v)=>{
						return v.name == row.id
					})
					if(idx >= 0) {
						this.RESOURCE_LIST.splice(idx,1)
					}
				})
			}).catch(() => {
				this.$message({
					type: 'info',
					message: 'Eliminación Cancelada',
					duration: 1500,
				});
			});
		},
		onSubmit(){
			volumes.post({
				name: `${this.newVolume.name}`,
				description: this.newVolume.description
			})
			.then(()=>{
				this.newVolume.name = ""
				this.newVolume.description = ""
				this.drawerVisible = false
			})
		}
	},
	computed: {
		listaVolumenes() {
			const ret = []
			if (!this.RESOURCE_LIST) {
				return ret
			}
			for(const v of this.RESOURCE_LIST) {
				const d = {
					id: v.name,
					name: v.name.replace("kind__", ""),
					usedBy: v.usedBy,
					description: v.labels ? v.labels.description : ""
				}
				for( const i in d.usedBy) {
					d.usedBy[i] = d.usedBy[i].replace("/kind__", "")
				}
				ret.push(d)
			}
			return ret
		}
	},
	data() {
		return {
			RESOURCE_LIST: [],
			drawerVisible: false,
			newVolume:{
				name: "",
				description: "",
			}
		}
	}
}
</script>

<style lang="css">

.el-table .warning-row {
	background-color: var(--el-color-warning-lighter) !important;
}
.el-table .error-row {
	background-color: var(--el-color-error-lighter) !important;
}
.el-table .success-row {
	--el-table-tr-background-color: var(--el-color-success-lighter) !important;
}
</style>