<template>
	<mind-view>
		<template v-slot:toolbar-actions>
			<el-button 
				type="primary" 
				plain 
				icon="el-icon-new" 
				size="small" 
				@click="dialogVisible = true"
				>Nuevo Entorno
			</el-button>
		</template>
			<el-row  :gutter="20">
				<el-col class="margin-20" :xs="24" :md="12" :lg="8" :xl="8" v-for="e of listaEntornos" :key="e.name" >
					<environment-widget  :data="e" />
				</el-col>
			</el-row>
		<template v-slot:child>
			<router-view :key="$route.fullPath"  ></router-view>
		</template>
	</mind-view>

	<environment-dialog v-model="dialogVisible" />

</template>
<script>
import environments from '@/model/environments'
import environmentWidget from '@/components/environment-widget'
import environmentDialog from '@/components/environment-dialog'

export default {
	components: {
		environmentWidget,
		environmentDialog,
	},
	created(){
		environments.fetch()
		.then((response)=>{
			this.RESOURCE_LIST = response
		})
	},
	data() {
		return {
			RESOURCE_LIST: {value: []},
			dialogVisible: false,
		}
	},
	computed: {
		listaEntornos() {
			const res = this.RESOURCE_LIST.value ? [...this.RESOURCE_LIST.value] : []
			return res.sort((a, b)=>{
				if(a.name > b.name) return 1
				if(a.name < b.name) return -1
				return 0
			})
		}
	}
}
</script>
<style lang="css" scopped>
	.margin-20 {
		margin-bottom: 20px;
	}
</style>