<template>
	<mind-view>
		<template v-slot:toolbar-actions>
			<el-button type="primary" size="small" @click="$refs.formulario?.onSubmit()" >Aplicar Cambios</el-button>
		</template>
		<mind-form	
			v-model="recurso"	v-model:modified="modified"
			@submit="onSubmit" v-loading="isLoading"
			ref="formulario" 
			>
			<template  v-if="!isLoading">
				<el-row	>
					<el-col :xs="24">
						<el-form-item label="Nombre">
							<el-input v-model="templateID" :disabled="!isNew" />
						</el-form-item>
					</el-col>
				</el-row>
          <kind-template v-model="recurso" />
			</template>
		</mind-form>
	</mind-view>
</template>
<script>

// import {ref} from 'vue'

//Model
import templates from '@/model/templates'
import kindTemplate from '@/components/kind-template'


export default {
	components:{
    kindTemplate
	},
	async created() {
		this.isLoading = true;
		let id = this.$route.params.id;
		if (id == "new") {
			this.templateID = "";
			this.recurso = templates.new()
		} else {
			this.templateID = id;
			this.recurso = await templates.get(id)
			console.log(this.recurso)
		}
		this.isLoading = false;
	},
	methods: {
		async onSubmit() {
      const v = this.recurso
			delete(v.ultimaActualizacion)
			delete(v.estado)
			this.recurso = v
			const key = templates.getKey()
			const isNew = this.isNew
			if(isNew) {
				this.recurso = await templates.post(this.recurso)
				.then((response)=>{
					const id = response[0][key]
					this.$message({
						type: 'success',
						message: `escenario creado correctamente`,
					})
					//modifico la ruta
					const path = this.$router.currentRoute.path.replace(/\/new$/, `/${id}`)
					this.$router.replace(path)
				})
			} else {
				this.recurso = await templates.patch(this.recurso)
				this.$message({
					type: 'success',
					message: "escenario actualizado correctamente",
				})
			}

		},
	},
	computed: {
		isNew() {
			return this.recurso?._isNew
		}
	},
	watch:{
		fechaDesde:{
			immmediate: true,
			handler() {
				this.actualizarHistorial(this.recurso.id, this.fechaDesde)
			}
		},
		// fechaHasta:{
		// 	immmediate: true,
		// 	handler() {
		// 		this.actualizarHistorial(this.recurso.id, this.fechaDesde, this.fechaHasta)
		// 	}
		// },
	},
	data(){
		return {
			recurso:{},
			modified: false,
			isLoading: false,
			templateID: ""

		}
	}

}
</script>