<template>
  <el-card class="box-card" shadow="hover" v-loading="isLoading"
		:body-style="{height:'100px', backgroundColor: localValue.state == 'running' ? '#f0f9eb' : '#fef0f0'}">
    <template #header>
      <div class="card-header">
        <b>{{localValue.name}}</b>
				<el-icon :style="{color: localValue.state == 'running' ? 'green' : 'red'}">
					<i class="el-icon-sunny"></i>
				</el-icon>
      </div>
    </template>
		<div class="card-body">
			<div v-for="p of Ports" :key="p.public">
				<a :href="p.url" target="_blank">{{p.url}}</a>
				&rarr;
				{{p.privatePort}}
			</div>
		</div>
		<el-divider style="margin:5px"></el-divider>
		<div>
			<el-button v-if="localValue.state!='running'" 
				icon="el-icon-video-play"
				type="success"
				size="mini"
				circle
				@click="start"
				title="Iniciar Entorno" />
			<el-button v-if="localValue.state=='running'"
				icon="el-icon-switch-button"
				type="warning"
				size="mini"
				circle
				@click="stop"
				title="Detener Entorno" />
			<el-button v-if="localValue.state=='running'"
				icon="el-icon-refresh"
				size="mini"
				circle
				@click="restart"
				title="Reiniciar Entorno" />
			<el-button icon="el-icon-delete"
				size="mini"
				circle
				type="danger"
				@click="down"
				title="Eliminar Entorno" />
		</div>
  </el-card>
</template>
<script>
import { ElMessageBox } from 'element-plus'
import environments from '@/model/environments'


export default {
	props: {
		data: {
			type: Object,
			default() {
				return {
				}
			}
		}
	},
	watch: {
		data: {
			immediate: true,
			deep: true,
			handler(v) {
				this.localValue = v
			}
		}
	},
	computed: {
		Ports() {
			const res = [];
			if(!this.localValue.ports) return res
			const url = new URL(window.location.href)
			const baseUrl = `${url.protocol}//${url.hostname}`
			for(const p of this.localValue.ports) {
				res.push({
					url: `${baseUrl}:${p.public}`,
					publicPort: p.public,
					privatePort: p.private,
				})
			}
			res.sort((a, b)=>{
				if(a.publicPort > b.publicPort) return 1
				if(a.publicPort < b.publicPort) return -1
				return 0
			})

			return res
		}
	},
	methods: {
		start() {
			this.isLoading = true
			environments.start(this.localValue.name)
			.then(async ()=>{
				const response = await environments.wait(this.localValue.name)
					this.localValue = response.body.data
			})
			.finally(()=>{
				this.isLoading = false
			})
		},
		stop() {
			ElMessageBox.confirm(
				'Confirmar detención de Entorno?',
				'Detener Entorno',
				{
					confirmButtonText: 'OK',
					cancelButtonText: 'Cancelar',
					type: 'warning',
				}
			)
			.then(() => {
				this.isLoading = true
				environments.stop(this.localValue.name)
				.then(async ()=>{
					const response = await environments.get(this.localValue.name)
					this.localValue = response
				})
				.finally(()=>{
					this.isLoading = false
				})
			})
		},
		restart() {
			ElMessageBox.confirm(
				'Confirmar reinicio de Entorno?',
				'Reinicar Entorno',
				{
					confirmButtonText: 'OK',
					cancelButtonText: 'Cancelar',
					type: 'warning',
				}
			)
			.then(() => {
				this.isLoading = true
				environments.restart(this.localValue.name)
				.then(async ()=>{
					const response = await environments.wait(this.localValue.name)
					this.localValue = response.body.data
				})
				.finally(()=>{
					this.isLoading = false
				})
			})
		},
		down() {
			ElMessageBox.confirm(
				'Confirmar eliminación de Entorno?',
				'Eliminar Entorno',
				{
					confirmButtonText: 'OK',
					cancelButtonText: 'Cancelar',
					type: 'warning',
				}
			)
			.then(async () => {
				this.isLoading = true
				await environments.delete(this.localValue.name)
				await environments.fetch()
				.finally(()=>{
					this.isLoading = false
				})
			})
		},
	},
	data() {
		return {
			isLoading: false,
			localValue: {}
		}
	}
}
</script>
<style lang="css">
	.box-card {
	}
	.card-body {
		height: 75px;
	}
</style>