<template>
	<el-drawer
	:close-on-click-modal="false"  :show-close="false"
	v-model="Visible" modal
	title="Crear Entorno" size="60%"
  >
		<template #title>
			Crear Entorno
			<span class="dialog-footer" >
			<el-button @click="onCancel" v-loading="isLoading">Cancelar</el-button>
			<el-button type="primary" @click="onSubmit" v-loading="isLoading"
				>Crear</el-button
			>
		</span>
		</template>
		<template #default>
			<div style="padding: 0 5px">
				<mind-form :disabled="isLoading"
					v-model="recurso"	style="width:100%"
					>
					<el-row	>
						<el-col :xs="24">
							<el-form-item label="Plantilla" required>
								<el-select v-model="Template"
									filterable
									@change="recurso.name = Template"
									>
									<el-option
										v-for="t of templateList"
										:key="t.name"
										:label="t.name"
										:value="t.name"
										/>
								</el-select>
							</el-form-item>
						</el-col>
					</el-row>
					<el-row	>
						<el-col :xs="24">
							<el-form-item label="Nombre" required>
								<el-input v-model="recurso.name" />
							</el-form-item>
						</el-col>
					</el-row>
					<el-row	>
						<el-col :xs="24">
							<el-form-item label="Actualizar de imagen">
								<el-switch v-model="recurso.pull" />
							</el-form-item>
						</el-col>
					</el-row>
					<el-row	v-if="templateLoaded">
						<el-col :xs="24">
							<el-form-item label="Git Repo" required>
								<el-input v-model="recurso.template.git.url" />
							</el-form-item>
						</el-col>
						<el-col :xs="24">
							<el-form-item label="Rama" >
								<el-input v-model="recurso.template.git.branch" />
							</el-form-item>
						</el-col>
						<el-col :xs="24">
							<el-form-item label="Git Repo Secundario">
								<el-input v-model="recurso.template.git.url2" />
							</el-form-item>
						</el-col>
						<el-col :xs="24" :md="12">
							<el-form-item label="Usuario" >
								<el-input v-model="recurso.template.git.username" placeholder="default" />
							</el-form-item>
						</el-col>
						<el-col :xs="24" :md="12">
							<el-form-item label="Contraseña" >
								<el-input v-model="recurso.template.git.password" type="password" placeholder="default"/>
							</el-form-item>
						</el-col>
					</el-row>
					<el-row	v-if="creating || created">
						<el-col :xs="24">
							<span>Creando Entorno</span>
							<el-icon >
								<i v-if="creating" class="el-icon-loading"></i>
								<i v-else class="el-icon-check"></i>
							</el-icon>
						</el-col>
					</el-row>
					<el-row	v-if="starting || started">
						<el-col :xs="24">
							<span>Iniciando Entorno</span>
							<el-icon >
								<i v-if="starting" class="el-icon-loading"></i>
								<i v-else class="el-icon-check"></i>
							</el-icon>
						</el-col>
					</el-row>
				</mind-form>
			</div>
    </template>
    <template #footer>
    </template>
  </el-drawer>
</template>
<script>
import templates from '@/model/templates'
import environments from '@/model/environments'


export default {
	components: {
	},
	props: {
		dialogVisible: Boolean,
	},
	async created(){
		await templates.fetch()
		.then((response)=>{
			this.templateList = response.value
		})
	},
	computed: {
		Visible:{
			get(){
				return this.dialogVisible
			},
			set(v) {
				this.$emit("update:modelValue", v)
			}
		},
		Template: {
			get() {
				return this.templateName
			},
			set(v) {
				this.isLoading = true
				this.templateLoaded = false
				this.templateName = v
				templates.get(v)
				.then((response)=>{
					this.recurso.template = response
				})
				.finally(()=>{
					this.templateLoaded = true
					this.isLoading = false
				})
			}
		}
	},
	methods: {
		onCancel() {
			this.templateLoaded = false
			this.Visible = false
			this.recurso = {
				name: "",
				pull: true,
				template: {
					git:{}
				}
			}
			this.templateName = ""
		},
		onSubmit() {
			this.isLoading = true

			this.creating = true
			environments.post(this.recurso)
			.then(async ()=>{
				this.creating = false
				this.created = true
				this.starting = true
				await environments.wait(this.recurso.name)
				this.templateLoaded = false
				this.starting = false
				this.started = true
				environments.fetch()
				this.templateName = ""
				this.recurso = {
					name: "",
					pull: true,
					template: {}
				}

				this.Visible = false
			})
			.finally(()=>{
				this.creating = false
				this.created = false
				this.starting = false
				this.started = false

				this.isLoading = false
			})

		}
	},
	data(){
		return {
			recurso: {
				name: "",
				pull: true,
				template:{},
			},
			templateName: "",
			templateList:[],
			isLoading: false,
			creating: false,
			created: false,
			starting: false,
			started: false,
			templateLoaded: false,
		}
	}
}
</script>