<template>
	<div>
		{{localvalue.server}}
		{{localValue.locations}}

	</div>
</template>
<script>
export default {
	props: {
		value: {
			type: Object,
			default() {
				return {
					server: "",
					locations: [],
				}
			}
		}
	},
	watch: {
		value:{
			immediate: true,
			handler(v) {
				console.log(v)
				// this.noEmit = true
			}
		}
	},
	computed: {
		localValue: {
			get() {
				return this.value
			},
			set(v) {
				console.log(v)
				this.$emit('input', v)
			}
		}
	},
	data() {
		return {
			noEmit: false,
		}
	}

}
</script>