<template>
	<el-row  >
		<el-col  :lg="24">
			<el-form-item label="Descripción">
				<el-input v-model="localValue.description" type="textarea"/>
			</el-form-item>
		</el-col>
	</el-row>
	<el-row  >
		<el-col :xs="24">
			<el-form-item label="Imagen">
				<el-input v-model="localValue.image" placeholder="default" />
					<div class="hint">deje en blanco este campo para utilizar la imagen por defecto</div>
			</el-form-item>
		</el-col>
		<el-col :xs="24" :lg="12">
			<el-form-item label="Variante">
				<el-select v-model="localValue.variant">
					<el-option label="Alpine" value="alpine" />
				</el-select>
				<div class="hint">variante de sistema operativo a utilizar</div>
			</el-form-item>
		</el-col>
		<el-col :xs="24" :lg="12">
			<el-form-item label="Lenguaje">
				<el-select v-model="localValue.lang">
					<el-option label="Node (default)" value="" />
					<el-option label="Node+Go" value="go" />
				</el-select>
				<div class="hint">lenguaje principal del proyecto</div>
			</el-form-item>
		</el-col>
	</el-row>
	<el-divider>Git</el-divider>
	<el-row  >
		<el-col :xs="24" >
			<el-form-item label="URL">
				<el-input v-model="Git.url" />
				<div class="hint">url del repositorio git a clonar</div>
			</el-form-item>
		</el-col>
		<el-col :xs="24" >
			<el-form-item label="URL Secundario">
				<el-input v-model="Git.url2" />
				<div class="hint">puede especificar un repositorio adicional requerido para el proyecto</div>
			</el-form-item>
		</el-col>
		<el-col :xs="24" :lg="12">
			<el-form-item label="Usuario">
				<el-input v-model="Git.username" placeholder="default" />
				<div class="hint">usuario con permisos para clonar. pueden utilizarse variables globales</div>
			</el-form-item>
		</el-col>
		<el-col :xs="24" :lg="12">
			<el-form-item label="Contraseña">
				<el-input type="password" v-model="Git.password" show-password placeholder="default" />
				<div class="hint">contraseña del usuario git. pueden utilizarse variables globales</div>
			</el-form-item>
		</el-col>
		<el-col :xs="24" :lg="12">
			<el-form-item label="Nombre Completo">
				<el-input v-model="Git.fullname" placeholder="default" />
				<div class="hint">utilizado para git commits. pueden utilizarse variables globales</div>
			</el-form-item>
		</el-col>
		<el-col :xs="24" :lg="12">
			<el-form-item label="Correo">
				<el-input v-model="Git.email" placeholder="default" />
				<div class="hint">utilizado para git commits. pueden utilizarse variables globales</div>
			</el-form-item>
		</el-col>
		<el-col :xs="24" :lg="12">
			<el-form-item label="Crear MR (solo GitLab)">
				<el-switch v-model="Gitlab.createMR" />
				<div class="hint">al realizar el primer commit sobre una rama nueva, se generar un nuevo Merge Request</div>
			</el-form-item>
		</el-col>
	</el-row>

	<el-divider>Puertos</el-divider>
	<el-row  >
		<el-col :xs="24" :lg="12">
			<el-form-item label="IDE">
					<el-select
						v-model="localValue.ports.ide"
						filterable
						allow-create
						default-first-option
						:reserve-keyword="false"
						placeholder=""
					>
						<el-option
							label="auto"
							value="auto"
						/>
					</el-select>
						<div class="hint">Puerto de acceso al Editor <br/>`auto` para autoasignar puerto o ingrese el puerto personalizado</div>
					<el-alert v-if="localValue.ports.ide == 'none'" type="warning" show-icon :closable="false">
						<div style="line-height: 15px;">si deshabilita el puerto IDE, el acceso al IDE se debe configurar a través del ingress</div>
					</el-alert>
			</el-form-item>
		</el-col>
		<el-col :xs="24" :lg="12">
			<el-form-item label="Ingress">
					<el-select
						v-model="localValue.ports.ingress"
						filterable
						@change="localValue.ports.ingress != 'none' ? localValue.ingress.enabled = true : localValue.ingress.enabled = false"
						allow-create
						default-first-option
						:reserve-keyword="false"
						placeholder=""
					>
						<el-option
							label=""
							value="none"
						/>
						<el-option
							label="auto"
							value="auto"
						/>
					</el-select>
					<div class="hint">Puerto para el proxy incorporado <br/>'none' Para deshabilitar Ingress, `auto` para autoasignar puerto o ingrese el puerto personalizado</div>
			</el-form-item>
		</el-col>
	</el-row>

	<el-divider>Ingress</el-divider>
	<el-row  >
		<el-col :xs="24" :lg="12">
			<el-form-item label="Habilitado">
				<el-switch v-model="localValue.ingress.enabled" @change="if(localValue.ingress.enabled) localValue.ports.ingress = 'auto'; else localValue.ports.ingress = 'none' " />
				<div class="hint">Habilitar Ingress incorporado (nginx)</div>
			</el-form-item>
		</el-col>
		<el-col :xs="24" :lg="12">
			<el-form-item label="HTTPS">
				<el-switch v-model="localValue.ingress.https"/>
				<div class="hint">Habilitar HTTPS? esta opción generará certificados en /etc/nginx/certs</div>
			</el-form-item>
		</el-col>
	</el-row>
	<el-row  >
		<el-col :xs="24" :lg="24">
			<el-form-item label="Configuración">
				<el-input
					v-model="localValue.ingress.http"
					@keydown.tab.prevent="tabber"
					type="textarea" :rows="5" />
				<div class="hint">Configuración Válida nginx (acepta variables de entorno). el bloque debe contener la sentencia listen 3001;</div>
			</el-form-item>
		</el-col>
	</el-row>
	<el-divider>Variables de Entorno</el-divider>
	<el-row  >
		<el-col :xs="24">
			<el-form-item >
				<el-table :data="env" style="width: 100%"
						:actions="{edit:false, delete:true}"
						@delete="eliminarVariable">
					<el-table-column  label="Variable" width="200">
						<template #default="scope">
							<el-input v-model="scope.row.var"
								@change="localValue.env = this.sliceToEnv(env)"	/>
							<div style="100%" class="hint">Nombre de Variable</div>
						</template>
					</el-table-column>
					<el-table-column  label="Valor">
						<template #default="scope">
							<el-input	v-model="scope.row.val"
								@change="localValue.env = this.sliceToEnv(env)"	/>
							<div style="100%" class="hint">Valor de la variable, soporta variables globales (`${ALGUNA_VARIABLE}`)</div>
						</template>
					</el-table-column>
					<el-table-column width="30" label="">
						<template #default="scope">
							<el-button type="warning" size="mini" @click="eliminarVariable(scope.row)" >-</el-button>
						</template>
					</el-table-column>
					<template #append>
						<el-button type="primary" size="small" @click="agregarVariable" >+</el-button>
					</template>
				</el-table>
			</el-form-item>
		</el-col>
	</el-row>

	<el-divider>Tareas</el-divider>
	<el-row  >
		<el-col  :lg="24">
			<el-form-item label="Init">
				<el-input v-model="InitTasks" :rows="5" type="textarea"/>
				<div class="hint">Lista de comandos que se deben ejecutar la primera vez que se inicia el workspace</div>
			</el-form-item>
		</el-col>
	</el-row>
	<el-row  >
		<el-col  :lg="24">
			<el-form-item label="Command">
				<el-input v-model="CommandTasks" :rows="5" type="textarea"/>
				<div class="hint">Lista de comandos que se deben ejecutar cada vez que se inicia el workspace</div>
			</el-form-item>
		</el-col>
	</el-row>

	<el-divider>Volúmenes</el-divider>
	<el-row  >
		<el-col :xs="24">
			<el-form-item >
				{{Volumes}}
				<el-table :data="Volumes" style="width:100%" >
					<el-table-column  label="Volumen" prop="name" width="250">
						<template #default="scope">
							<el-select v-model="scope.row.name">
								<el-option
									v-for="v in volumeList"
									:key="v.name"
									:label="v.name.replace('kind__', '')"
									:value="v.name.replace('kind__', '')"
									/>
							</el-select>
						</template>
					</el-table-column>
					<el-table-column  label="Destino" prop="path">
						<template #default="scope">
							<el-input v-model="scope.row.path" placeholder="default" />
						</template>
					</el-table-column>
					<el-table-column width="30" label="">
						<template #default="scope">
							<el-button type="warning" size="mini" @click="eliminarVolumen(scope.row)" >-</el-button>
						</template>
					</el-table-column>
					<template #append>
						<el-button type="primary" size="small" @click="agregarVolumen" >+</el-button>
					</template>
				</el-table>
			</el-form-item>
		</el-col>
	</el-row>
		<!-- <ul>
		<li v-for="v in Volumes" :key="v">
			{{v}}
		</li>
	</ul> -->

	<el-divider>Avanzado</el-divider>
	<el-row>
		<el-col :xs="24" :lg="12">
			<el-form-item label="Permitir SUDO">
				<el-switch v-model="localValue.sudo" />
				<div class="hint">permite ejecutar sudo dentro del workspace?</div>
			</el-form-item>
		</el-col>
		<el-col :xs="24" :lg="12">
			<el-form-item label="Docker In Docker">
				<el-switch v-model="DindEnabled" />
				<div class="hint">permitir ejecutar docker dentro del workspace?</div>
			</el-form-item>
		</el-col>
	</el-row>

</template>
<script>
// import ingressDomain from '@/components/ingress-domain'
import volumes from '@/model/volumes'

export default {
  name: "kind-template",
  props: {
    modelValue:{
      type: Object,
      default: () => {}
    }
  },
	components: {
		// ingressDomain
	},
  created() {
		volumes.fetch()
		.then((response)=>{
			this.volumeList = response.value.sort((a, b)=>{
				console.log(a.name, b.name)
				if(a.name>b.name) return 1
				if(a.name<b.name) return -1
				return 0
			})
		})
  },
	watch: {
		modelValue: {
			immediate: true,
			handler(v) {
				this.noEmit = true
				let template = {
					ports: {
						ide: "",
						ingress: ""
					},
					ingress:{
						enabled: false,
					}
				}
				this.localValue = Object.assign(template, v)
				this.env = this.envToSlice(this.localValue.env)
			}
		},
		localValue: {
			immediate:true,
			deep: true,
			handler(v) {
				if(this.noEmit) {
					this.noEmit = false
					return
				}
				this.$emit('update:modelValue', v)
			}
		},
	},
	computed: {
		Volumes: {
			get() {
				const res = []
				for(const v of this.localValue.volumes ) {
					const partes = v.split(':')
					res.push({
						name: partes[0],
						path: partes[1]
					})
				}
				return res
			} ,
			set(v) {
				const res = []
				for(const vol of v) {
					res.push(`${vol.name}:${vol.path}`)
				}
				this.localValue.volumes = res
			}
		},
		DindEnabled:{
			get() {
				return this.localValue.dind.enabled
			},
			set(v) {
				this.localValue.dind.enabled = v
				if(!this.localValue.dind.enabled) {
					this.localValue.dind.privileged = false
				}
			}
		},
		Git: {
			get() {
				return this.localValue.git || {}
			},
			set(v) {
				this.localValue.git = v
			}
		},
		Gitlab: {
			get() {
				return this.localValue.gitlab || {
					createMR: false
				}
			},
			set(v) {
				this.localValue.gitlab = v
			}
		},
		InitTasks: {
			get() {
				return this.localValue.tasks.init.join("\n")
			},
			set(v) {
				this.localValue.tasks.init = v.split("\n")
			}
		},
		CommandTasks: {
			get() {
				return this.localValue.tasks.command.join("\n")
			},
			set(v) {
				this.localValue.tasks.command = v.split("\n")
			}
		},
	},
	methods: {
		tabber (event) {
			let text = this.localValue.ingress.http,
					originalSelectionStart = event.target.selectionStart,
					textStart = text.slice(0, originalSelectionStart),
					textEnd =  text.slice(originalSelectionStart);

			this.localValue.ingress.http = `${textStart}  ${textEnd}`
			event.target.value = this.localValue.ingress.http // required to make the cursor stay in place.
			event.target.selectionEnd = event.target.selectionStart = originalSelectionStart + 1
		},
		envToSlice(env) {
			const res = []
			for(const k of Object.keys(env)) {
				res.push({
					var: k,
					val: env[k]
				})
			}
			return res
		},
		sliceToEnv(env) {
			const res = {}
			for(const v of env) {
				res[v.var] = v.val
			}
			return res
		},
		eliminarVariable(row) {
			const pos = this.env.indexOf(row)
			this.env.splice(pos,1)
		},
		agregarVariable() {
			this.env.push({
				val: "",
				var: ""
			})
		},
		eliminarVolumen(row) {
			const vols = [...this.Volumes]
			const pos = vols.findIndex((v)=>{
				return v.name == row.name
			})
			vols.splice(pos,1)
			this.Volumes = vols
		},
		agregarVolumen() {
			const vols = [...this.Volumes]
			vols.push({
				name: "",
				path: ""
			})
			this.Volumes = vols
		},
	},
	data() {
		return {
			localValue: {},
			env: [],
			volumeList: []
		}
	}

}
</script>
<style scoped>
.hint {
	padding: 2px;
	color: rgba(0, 0, 0, 0.39);
	font-size: var(--el-font-size-extra-small);
	line-height: 15px;
	background-color: #f4f4f5;
	text-align: left;
}
</style>